h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.75rem;
  }
}

.session-info {
  text-align: center;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 3rem;
  border: 2px solid #ef2f88;
  border-radius: 20px;
}

.timer-display {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #ef2f88;
}

@media (max-width: 400px) {
  .timer-display {
    font-size: 3rem;
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

button {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  border: 2px solid #ef2f88;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}
